{% extends 'base.html' %}
{% load static %}



    <!-- MAIN -->
    {% block contenido%}


    <div class="slide-item overlay" style="background-image: url('{%static 'assets/images/img_2.jpeg' %}')">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 align-self-center">
            <h1 class="heading mb-3">Te llevo app</h1>
            <img src="../static/assets/images/duoc.png" class="img-fluid product-thumbnail">
            <p class="lead text-white mb-5"></p>

          </div>
        </div>
      </div>  
    </div>



    <div class="site-section" style="background-color: aliceblue;">
      <div class="container">
        <div class="row">
          <div class="container">
            <div class="row">
              <div class="col">
                <h1 style="color: black;">La mejor aplicación para ir y volver del instituto</h1>  
              </div>
                <div class="col">
                    <h2 style="font-size: larger;">Descargar la aplicación "Tellevo App" no solo simplifica tu rutina diaria, sino que también contribuye a la reducción de la huella de carbono. Al evitar los largos viajes de ida y vuelta al instituto, esta innovadora plataforma promueve un estilo de vida sostenible al fomentar la eficiencia en el transporte.</h2>
                    <br><br><br>
                    <p><a href="https://duoccl0-my.sharepoint.com/:u:/g/personal/dan_delafuente_duocuc_cl/EculdEeFi4RKkLSGuU1o_RUBRFHSlNqqZMtwmnBFE5iIKw?e=MX59np" class="btn btn-primary mx-2" style="border-radius: 0%;background-color: blue; ">Descargar ya</a></p>
                </div>
            </div>
        
        </div>
        </div>
      </div>
    </div>

 

 

 
 



  {% endblock %}
